.blog__section{
    background-color:var( --secBody-color);

}

.blog__conteiner{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;

}

.blog_box{
    color: #fff;
    width: 30%;
    /* height:300px; */
    padding: 20px;
    margin: 10px; 
    /* border: 1px solid hsla(0, 0%, 100%, 0.18); */
}
.blog__img img{
    width: 98%;
    border-radius: 10px;
    transition:.3s;
}
.blog__img img:hover{
    width: 100%;
    border-radius: 10px;
}

.blog__content{
    margin-top: 10px;
}


.blog__content h5 {
    font-size: 16px;
    opacity: .8;
  }
  .blog__content h3 {
    font-size: 25px;
    font-weight: 600;
  }
@media screen and (max-width: 770px) {
    .blog__conteiner{

        flex-direction: column;
        flex-wrap: wrap;
       
    }
    .blog_box{
        color: #fff;
        width: 90%;
        padding: 20px;
        margin: 20px; 
        /* border: 1px solid hsla(0, 0%, 100%, 0.18); */
    }

}