.navbar-brand img{
    width: 100px;
}

.navbar-nav {
	
	margin-left: 55%;
}

.nav-item{
    margin-left: 10px;
}
.nav-link{
    font-size: 20px;

}
.nav-link::after{
    transition: all 0.3s;
    content: " ";
    width: 0%;
    height: 3px;
    display: block;
    background: var(--primary-color);
}
.nav-link:hover:after{
    width: 100%;

}

.navbar{
    z-index: 1;
}
/* responsive */

@media screen and (max-width: 770px) {
 
}


