* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* overflow:hidden; */
}
.scroll {
  height: 200vh;
}

a,
li {
  text-decoration: none;
}

section{
  padding:100px 0px;
}


:root {
  /* color */
  --primary-color: #10e762;
  --body-color: #191c26;
  --secBody-color:#111319;

  /* text */
  --text-color: #fff;
 --secText-color:#a9afc3;

  /* font size */
 --title-size:60px;
 --secTitle-size:35px;
 --discription-size:20px;
 --button-size:30px;

}



@media screen and (max-width: 770px) {

:root {


  /* font size */
 --title-size:50px;
 --secTitle-size:30px;
 --discription-size:20px;
 --button-size:30px;

}




header{

  height: 60vh !important;
  max-width: 100%;
}
}
