* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* overflow:hidden; */
}
.scroll {
  height: 200vh;
}

a,
li {
  text-decoration: none;
}

section{
  padding:100px 0px;
}

.home_spnner{
  margin-top: 10%;
}

.home_spnner img{
  width: 300px;
}
:root {
  /* color */
  --primary-color: #10e762;
  --body-color: #191c26;
  --secBody-color:#111319;

  /* text */
  --text-color: #fff;
 --secText-color:#a9afc3;

  /* font size */
 --title-size:60px;
 --secTitle-size:35px;
 --discription-size:20px;
 --button-size:30px;

}
.styles_scroll-to-top__2A70v {
	background: #10e762 !important;
}

/* @media screen and (max-width: 390px) {
  .home_spnner{
    margin-top: 25%;
  }
} */

@media screen and (max-width: 770px) {
  .home_spnner img{
    width: 200px;
  }
  .home_spnner{
    margin-top: 35%;
  }
:root {


  /* font size */
 --title-size:45px;
 --secTitle-size:30px;
 --discription-size:20px;
 --button-size:30px;

}


section{
  padding:50px 0px;
}


header{

  height: 60vh !important;
  max-width: 100%;
}
}
